@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: russo one;
}
::-webkit-scrollbar{
    display: none;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

section{
    height: 600px;
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 10px;
    overflow: scroll;
}

header{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 81.4px;
}

form{
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

input{
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main{
    min-height: 440px;
    display: flex;
    justify-content: center;
    gap: 30px;
    overflow: scroll;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 5px;
}


.day{
    height: 200px;
    min-width: 230px;
    padding: 15px;
    flex: 1;
    background-color: #148148;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.day:hover{
    background-color: white;
    box-shadow: 2px 2px #148148;
    color: #148148;
    border: 1px solid #148148;
}

.child{
    display: flex;
    gap: 20px;
}



button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #148148;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    transition: 0.3s;
    background-color: #fff;
    color: #148148;
    font-weight: bold;
    border: 1px solid #148148;
    box-shadow:1px 1px #148148;
    cursor: pointer;
}